@using MGL7760POC.Abstraction.Services.Models
@model IEnumerable<DeclarationDm>
@{
    ViewData["Title"] = "Mes Déclarations";
}

<div class="text-center">
    @{
        
        foreach(var declaration in Model)
        {
            <p>@declaration.Id  |  @declaration.DateCreation</p>
        }
    }
</div>
